table, th, td {
    border: 1px solid black;
    text-align: center;
    height: 30px;
    width: 30px;
}

.Vacio {
  height: 40px;
  width: 40px;
}

.imgsB {
  height: 40px;
  width: 40px;
}

.imgsN {
    height: 40px;
    width: 40px;
  }

table {
    height: 550px;
    width: 550px;
}
